*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: lightseagreen;
}

/* Utilities */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.button-column {
  background-color: lightblue;
  border-radius: 5px;
  margin-left: 50px;
}

button {
  border: none;
  font-size: 20px;
  padding: 10px 25px;
  margin: 15px 5px;
  color: darkslategray;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: yellow;
}

button:active {
  background-color: green;
  color: white;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

h1 {
  color: darkslategray;
  font-size: 36px;
  text-align: center;
}

/* Start Reset */
.start-reset {
  display: flex;
}

#start_btn {
  background-color: green;
  color: white;
}

#start_btn:hover {
  background-color: yellowgreen;
  color: black;
}

#reset_btn {
  background-color: lightcoral;
  color: white;
  margin-left: 15px;
}

#reset_btn:hover {
  background-color: hotpink;
  color: white;
}


/* Metrics */
.win {
  margin-bottom: 30px;
}

.metrics-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.metrics-value,
.win {
  font-size: 28px;
  font-weight: bold;
}